@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&subset=latin,latin-ext);

@bg: #313131;
@blue: #3daee6;

body {
    background-color: @bg;
}
.lumines text {
    font-family: "Roboto Condensed", "Helvetica Neue", sans-serif;
}
.lumines-text-colored {
    fill: @blue;
}
.lumines-background {
    fill: #313131;
    stroke: 0;
}
.lumines-grid line {
    stroke: #5a5a5a;
    stroke-width: 0.3;
}
.lumines-square {
    stroke: #313131;
    stroke-width: 0.1;
}
.lumines-square-light {
    fill: #fafafa;
}
.lumines-square-dark {
    fill: @blue;
}
.lumines-square-scanned {
    fill: #5a5a5a;
}
.lumines-debug-bar text {
    font-size: 2px;
    fill: #5a5a5a;
}
.lumines-hud text {
    dominant-baseline: hanging;
}
.lumines-hud-label {
    fill: @blue;
    font-size: 5px;
}
.lumines-hud-value {
    fill: #fafafa;
    font-size: 7px;
}
.lumines-monoblock {
    stroke: white;
    stroke-width: 0.7;
}
.lumines-monoblock-light {
    fill: #dedede;
}
.lumines-monoblock-dark {
    fill: #38a2d6;
}

@keyframes fadein {
    0% { opacity: 0; }
    100% { opacity: 0.9; }
}
.lumines-overlay {
    fill: @bg;
    opacity: 0.9;
    animation: fadein ease 0.3s;
}
.lumines-overlay-label {
    fill: white;
    dominant-baseline: hanging;
    text-anchor: middle;
    font-size: 10px;
}

@keyframes pulse {
    0% { opacity: 0.5; }
    50% { opacity: 0.9; }
    100% { opacity: 0.5; }
}
.lumines-overlay-message {
    fill: white;
    text-anchor: middle;
    font-size: 4px;
    text-transform: uppercase;
    animation: pulse 1s ease infinite;
}
.lumines-control-key {
    fill: @blue;
    text-anchor: start;
    text-transform: uppercase;
    font-size: 2.5px;
}
.lumines-control-legend {
    fill: white;
    font-size: 3px;
    text-anchor: end;
}
