@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&subset=latin,latin-ext);
body {
    background-color: #353535;
}
.lumines text {
    font-family: "Roboto Condensed", "Helvetica Neue", sans-serif;
}
.lumines-background {
    fill: #313131;
    stroke: 0;
}
.lumines-grid line {
    stroke: #5a5a5a;
    stroke-width: 0.3;
}
.lumines-square {
    stroke: #313131;
    stroke-width: 0.1;
}
.lumines-square-light {
    fill: #fafafa;
}
.lumines-square-dark {
    fill: #3daee6;
}
.lumines-square-scanned {
    fill: #5a5a5a;
}
.lumines-debug-bar text {
    font-size: 2px;
    fill: #5a5a5a;
}
.lumines-monoblock {
    stroke: white;
    stroke-width: 0.7;
}
.lumines-monoblock-light {
    fill: #dedede;
}
.lumines-monoblock-dark {
    fill: #38a2d6;
}