body {
    background-color: #313131;
}
.lumines-background {
    fill: #313131;
    stroke: 0;
}
.lumines-grid line {
    stroke: rgba(255, 255, 255, 0.2);
    stroke-width: 0.3;
}
.lumines-square {
    stroke: #313131;
    stroke-width: 0.1;
}
.lumines-square-light {
    fill: white;
}
.lumines-square-dark {
    fill: #3daee6;
}